<!DOCTYPE html>
<html>
<head>
  <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="
  sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script type="text/javascript" src="./static/js/sp.js"></script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Project Billboard</title>
  <link rel="icon" href="./static/favicon.ico" />

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Custom fonts for this template -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="./static/css/sp.min.css" rel="stylesheet">
</head>
<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background-color:rgb(0,0,0,0.8);">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top" style="color:#EE82EE;">Project Billboard</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link" id="nav_home" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="nav_models" href="#models">Models</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="nav_about" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="nav_team" href="#team">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/tjtanjin/project_billboard_model/" target="_blank">Github</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead" style="background-image:url(http://oi63.tinypic.com/wb8odi.jpg); background-size: cover; margin:0;">
    <div class="container">
      <div class="intro-text">
        <div class="intro-heading text-uppercase">Song Popularity Predictor</div>
        <div class="container col-md-6">
          <div class="row">
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
              </div>
            <textarea class="form-control rounded-3" id="text_box" placeholder="Enter Song Name & Choose Model ->" style="height:30px;"aria-label="Enter Song Name"></textarea>
            <select id="model_selection">
              <option value="logistic_regression">Logistic Regression</option>
              <option value="knn">K Nearest Neighbours</option>
              <option value="xgboost" selected="selected">XGBoost</option>
            </select>
            </div>
          </div>
        <p id="predict_result" style="color:white;"></p>
        </div>
        <button id="main_button" type="button" class="btn btn-primary btn-xl btn-lg text-uppercase" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Predicting">Predict</button>
      </div>
    </div>
  </header>

  <!-- Models -->
  <section id="models">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Models</h2>
          <h3 class="section-subheading text-muted">Prediction Model Types</h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4" style="height:405px;">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-chart-bar fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Logistic Regression</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
          <button class="btn btn-primary btn-lg" href="#" role="button" data-toggle="modal" data-target="#logistic_regression_details">Learn more &raquo;</button>
        </div>
        <div class="col-md-4" style="height:405px;">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fab fa-hubspot fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">K Nearest Neighbours</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
          <button class="btn btn-primary btn-lg" href="#" role="button" data-toggle="modal" data-target="#knn_details">Learn more &raquo;</button>
        </div>
        <div class="col-md-4" style="height:405px;">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-rocket fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">XGBoost</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
          <button class="btn btn-primary btn-lg" href="#" role="button" data-toggle="modal" data-target="#xgboost_details">Learn more &raquo;</button>
        </div>
      </div>
    </div>
  </section>

  <!-- About -->
  <section class="bg-light" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">About Project Billboard</h2>
          <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline">
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="img/about/1.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>2nd April 2019</h4>
                  <h4 class="subheading">Beginning of Project...</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">The “Project Billboard” team was formed. The task was to deliver a model predicting if a song would be a Billboard hit.
                  </p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="img/about/2.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>18th April 2019</h4>
                  <h4 class="subheading">Exploring possibilities...</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">We had our first meeting at starbucks where we worked on the definition of “popularity”, identifying “bad songs” and rationalizing the scope of the project. Spotify’s Application Programming Interface (API) was chosen as our primary source of data.
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="img/about/3.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>29th April 2019</h4>
                  <h4 class="subheading">Song extraction and analysis...</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">The main code for collecting songs from Spotify APIs was up and running and we had our first dataset. We proceeded to try simple algorithms for hit/miss prediction, as well as scraping Billboard Hot 100 charts for unique hits. 
                  </p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="img/about/4.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>6th May 2019</h4>
                  <h4 class="subheading">Training of models...</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Machine learning models proved decent, with accuracies of 60-70%. The next step was to tidy up our code and prepare a user-friendly interface.
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="img/about/5.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>11th May 2019</h4>
                  <h4 class="subheading">Product complete...</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">The project was ready for submission!
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- Team -->
  <section id="team">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Project Team</h2>
          <h3 class="section-subheading text-muted">Contributors</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="https://media.licdn.com/dms/image/C5103AQHzxSoSpkhQQg/profile-displayphoto-shrink_200_200/0?e=1562803200&v=beta&t=ruVIdg1OVof_d6_P5FUJ6oRWZEs-kbi8SVQXzbyoBmc" alt="">
            <h4>Tan Jin</h4>
            <p class="text-muted">The Cool Kid</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/tan-jin-4b5a07184/" target="_blank">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/tjtanjin/" target="_blank">
                  <i class="fab fa-github"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.facebook.com/TJTanJin/" target="_blank">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="https://scontent.fsin8-1.fna.fbcdn.net/v/t31.0-8/13254886_10209056212341918_6229900836130072372_o.jpg?_nc_cat=105&_nc_ht=scontent.fsin8-1.fna&oh=00c1d7ab2189027d58604d6bb495f053&oe=5D71A251" alt="">
            <h4>Arthur Chionh</h4>
            <p class="text-muted">The Funny Kid</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/arthur-chionh-7309a5157/" target="_blank">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/artc95/" target="_blank">
                  <i class="fab fa-github"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.facebook.com/arthur95chionh/" target="_blank">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="https://scontent.fsin8-2.fna.fbcdn.net/v/t1.0-9/59697866_864455247236670_473565967390081024_n.jpg?_nc_cat=103&_nc_ht=scontent.fsin8-2.fna&oh=970e73de7628675c3f3f210e635a789e&oe=5D6F4F9B" alt="">
            <h4>Toh Yue Feng</h4>
            <p class="text-muted">The Crazy Kid</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="https://github.com/m3thx6" target="_blank">
                  <i class="fab fa-github"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.facebook.com/yuefeng.toh.5" target="_blank">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <p class="large text-muted">Have an idea for the project? Reach out to any of us!</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Logistic Regression Details Modal -->
  <div class="modal fade" id="logistic_regression_details" tabindex="-1" role="dialog" aria-labelledby="Logistic Regression Details" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header" style="background-color:rgb(0,0,0, 0.8);">
          <h5 class="modal-title" style="color:#EE82EE;">Logistic Regression Model</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:#EE82EE; opacity:0.8;">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Logistic Regression writeup
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" style="margin-left:auto; margin-right:auto;">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- K Nearest Neighbours Details Modal -->
  <div class="modal fade" id="knn_details" tabindex="-1" role="dialog" aria-labelledby="KNN Details" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header" style="background-color:rgb(0,0,0, 0.8);">
          <h5 class="modal-title" style="color:#EE82EE;">K Nearest Neighbours Model</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:#EE82EE; opacity:0.8;">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Input: Continuous variables
          Output: Discrete classification
          Brief Description: To classify a point A, its n nearest neighbors are found by calculating the “distances” (e.g. Euclidean) it has from other points. Nearest neighbors are points with the smallest “distances” from A. The classifications of these n nearest neighbors determine the classification of A.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" style="margin-left:auto; margin-right:auto;">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- XGBoost Details Modal -->
  <div class="modal fade" id="xgboost_details" tabindex="-1" role="dialog" aria-labelledby="XGBoost Details" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header" style="background-color:rgb(0,0,0, 0.8);">
          <h5 class="modal-title" style="color:#EE82EE;">XGBoost Model</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:#EE82EE; opacity:0.8;">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          XGBoost writeup
        </div>
        <div class="modal-footer text-center">
          <button type="button" class="btn btn-primary" data-dismiss="modal" style="margin-left:auto; margin-right:auto;">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="bg-light">
    <div class="container bg-light">
      <div class="row">
        <div class="col-md-4">
          <span class="copyright">Copyright &copy; Project Billboard 2019</span>
        </div>
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="https://github.com/tjtanjin/project_billboard_model/" target="_blank">
                <i class="fab fa-github"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>